@-webkit-keyframes showToolbar {
  from {opacity: 0; margin-top: -20px;}
  to {opacity: 1; margin-top: -39px;}
}

@keyframes showToolbar {
  from {opacity: 0; margin-top: -20px;}
  to {opacity: 1; margin-top: -39px;}
}

@-webkit-keyframes hideToolbar {
  from {opacity: 1; margin-top: -39px;}
  to {opacity: 0; margin-top: -20px;}
}

@keyframes hideToolbar {
  from {opacity: 1; margin-top: -39px;}
  to {opacity: 0; margin-top: -20px;}
}

@font-face {
	font-family: 'icomoon';
	src:url('fancy-fonts/icomoon.eot?-mw96lq');
	src:url('fancy-fonts/icomoon.eot?#iefix-mw96lq') format('embedded-opentype'),
		url('fancy-fonts/icomoon.ttf?-mw96lq') format('truetype'),
		url('fancy-fonts/icomoon.woff?-mw96lq') format('woff'),
		url('fancy-fonts/icomoon.svg?-mw96lq#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="toolbar-icon-"], [class*=" toolbar-icon-"] {
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal !important;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.toolbar-icon-quotes-left:before {
	content: "\e600";
}
.toolbar-icon-paragraph-left:before {
	content: "\e601";
}
.toolbar-icon-paragraph-center:before {
	content: "\e602";
}

.ministic-fancy-toolbar {
  background-color: black;
  border-radius: 5px;
  display: none;
  opacity: 0;
  position: absolute;
  padding: 3px;
}

.ministic-fancy-toolbar:after {
  content: "";
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid black;
  top: 26px;
  left: 6px;
  margin-left: -5px;
}

.ministic-fancy-toolbar-show {
  -webkit-animation: showToolbar 200ms ease-in-out both;
  animation: showToolbar 200ms ease-in-out both;
}

.ministic-fancy-toolbar-hide {
  -webkit-animation: hideToolbar 200ms ease-in-out both;
  animation: hideToolbar 200ms ease-in-out both;
}

.ministic-fancy-toolbar-button {
  background-color: transparent;
  color: white;
  border: 0 solid;
  font-size: 1em;
  font-family: "Times New Roman";
  font-weight: bold;
  width: 40px;
}

.ministic-fancy-toolbar-button-selected,
.ministic-fancy-toolbar-button:hover {
  color: #FF9900
}
